# General Configuration ...
mqtt.broker=tcp://your-broker-url:1883
mqtt.qos=1
topic.status=my/status/topic

# Browser start / kill command ...
browser.start=chromium-browser --disable-session-crashed-bubble --disable-infobars --disable-translate --kiosk
browser.kill=killall -9 chromium-browser

# Topics and commands
# subscribe.to.[topic].cmd=some command here OR http:// OR https:// URL
# subscribe.to.[topic].killCmd=some-comannd-here OR browser.kill to kill the browser
#  OR
# subscribe.to.[topic].exec=
subscribe.to.my/special/topic/42.cmd=http://www.google.ch
subscribe.to.my/special/topic/42.killCmd=browser.kill
subscribe.to.my/special/topic/23.cmd=gedit
subscribe.to.my/special/topic/23.killCmd=killall -9 gedit
subscribe.to.my/special/topic/999.exec=val=amixer -D pulse sset Master 100%
